<h3>Top Members</h3>
<div class="grid grid-pad">
  <a *ngFor="let user of users" [routerLink]="['/detail',user.id]" class="col-1-4">
    <div class="module user">
      <h4>{{user.name}}</h4>
    </div>
  </a>
</div>
<user-search></user-search>