<div *ngIf="user">
        <h2>{{user.name}} Details</h2>
        <div><label>id: </label>{{user.id}}</div>
        <div>
            <label> name: </label>
            <input [(ngModel)]="user.name" placeholder="name"/>
        </div>
        <button (click)="save()">Save</button>
        <button (click)="goBack()"> Back </button>
    </div>